body, html {
  margin: 0;
  padding: 0;
  background-color: #272727;
}

/* Header General */
.header {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: space-between; /* Espacio entre logo, búsqueda y perfil */
  padding: 15px 30px; /* Espacio interno del header */
  background-color: #000000; /* Fondo oscuro */
}

/* Contenedor del logo y nombre */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 58px; /* Tamaño del logo */
  margin-right: 10px;
}

.name-logo {
  font-size: 28px; /* Tamaño del texto del nombre */
  font-weight: bold;
  color: #00ff00; /* Color verde del nombre */
}

/* Contenedor de la barra de búsqueda */
.search-container {
  flex: 1; /* La barra de búsqueda ocupa el máximo espacio disponible */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar la búsqueda */
  height: 32px; /* Ajustar la altura */
  width: 60%; /* Ajustar el ancho para que se alinee mejor */
  max-width: 600px; /* Limitar el ancho máximo */
  background-color: #4A4949; /* Fondo gris claro */
  border-radius: 20px;
  padding: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra */
  color: rgba(255, 255, 255, 0.5); /* Texto gris claro */
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, color 0.3s, opacity 0.5s;
}

/* Hover de la barra de búsqueda */
.search-container:hover {
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
}

/* Mostrar resultados cuando se enfoca la búsqueda */
.search-container:focus-within .search-results {
  opacity: 1; /* Mostrar lista */
}

/* Estilos para el icono de búsqueda */
.search-icon {
  width: 22px; /* Tamaño del icono */
  height: auto;
  margin-left: 8px;
  margin-right: 8px; /* Espacio entre icono y texto */
}

/* Estilos del campo de texto */
.search-text {
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  height: 90%;
  font-style: italic;
  color: #000000; /* Texto negro */
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  flex: 1;
}

/* Lista de resultados de búsqueda */
.search-results {
  position: absolute;
  width: 95%; /* Ancho del contenedor de resultados */
  z-index: 1;
  top: 40px; /* Distancia desde el borde superior del padre */
  left: 20px; /* Distancia desde el borde izquierdo del padre */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #000000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s; /* Transición suave */
  max-height: 200px; /* Altura máxima para activar el scroll */
  overflow-y: auto; /* Activa el scroll vertical si es necesario */
  pointer-events: none; /* No permite interacción cuando está oculta */
}

/* Cuando la lista es visible */
.search-results.visible {
  opacity: 1; /* Hace la lista visible */
  pointer-events: auto; /* Permite la interacción */
}

/* Estilo de barra de desplazamiento */
.search-results::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.search-results::-webkit-scrollbar-thumb {
  background-color: #FF005E; /* Color del "pulgón" de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados */
}

.search-results::-webkit-scrollbar-track {
  background-color: white; /* Color de fondo de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados */
}

/* Contenedor del perfil */
.profile-container {
  display: flex;
  align-items: center; /* Centra el perfil verticalmente */
  justify-content: flex-end; /* Alinea a la derecha */
}

.profile {
  display: flex;
  align-items: center; /* Centra la imagen y el texto verticalmente */
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Imagen circular */
  margin-right: 10px; /* Espacio a la derecha */
}

.profile-text {
  display: flex;
  align-items: center;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: bolder;
}

.profile-link {
  cursor: pointer;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
}

.divider {
  color: #fff;
  padding: 0 10px;
}

/* Loader */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.loader {
  border: 8px solid #FF005E; 
  border-top: 8px solid #00FF69; 
  border-radius: 30%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilos para NavBar */

.navbar {
  background-color: #002334; /* Azul */
  display: flex;
  justify-content: left;
  align-items: center;
  height: 50px;
}

.nav-item {
  text-decoration: none;
  color: #fff; /* Texto blanco */
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 14px;
  transition: color 0.3s; /* Transición de color al pasar el ratón */
}

.nav-item:hover {
  color: #FF005E; /* Color de texto al pasar el ratón */
}

.nav-list-horizontal {
  list-style-type: none; /* Elimina los puntos de la lista */
  display: flex; /* Muestra la lista en línea horizontalmente */
  padding: 0; /* Elimina el espacio interno predeterminado de la lista */
  margin-left: 30mm;
}

/* Carousel Estilos */

/* Estilo general de las flechas */
.custom-arrow {
  cursor: pointer;
  position: absolute;
  top: 30%;
  background-color: transparent; /* Cambiado a fondo transparente */
  color: #fff; /* Cambiado a color blanco */
  border: none; /* Eliminado el borde */
  padding: 0; /* Eliminado el relleno */
  z-index: 1;
  transition: color 0.3s ease; /* Transición suave para el color */
}

/* Estilo de la flecha izquierda */
.left-arrow {
  left: 10px;
  font-stretch: ultra-condensed;
  font-size: 40mm; /* Tamaño ajustado */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Agregada sombra para mejorar la visibilidad */
  transition: color 0.3s ease; /* Transición suave para el color */
}

/* Estilo de la flecha derecha */
.right-arrow {
  right: 10px;
  font-stretch: ultra-condensed;
  font-size: 40mm; /* Tamaño ajustado */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Agregada sombra para mejorar la visibilidad */
  transition: color 0.3s ease; /* Transición suave para el color */
}

/* Estilo de la tarjeta de juego */
.game-card {
  position: relative;
  text-align: center;
  transition: transform 0.3s ease; /* Transición suave para la transformación */
  
}

/* Estilo de la imagen del juego */
.game-image {
  width: 100%;
  height: 110mm;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agregada sombra para resaltar la imagen */
  transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

/* Estilo del puntaje del juego */
.game-score {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.3s ease; /* Transición suave para el color */
}

/* Estilo del título del juego */
.game-title {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 18%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease; /* Transición suave para el color */
}

/* Estilo de las flechas en estado hover */
.custom-arrow:hover,
.left-arrow:hover,
.right-arrow:hover {
  color: #00FF69; /* Cambia el color al hacer hover */
}

/* GameList */

/* Contenedor general de la lista de juegos */
.gameList-container {
  text-align: center;
  background: #272727;
  font-family: 'Roboto', sans-serif;
}

/* Título de la sección de lista de juegos */
.gameList-title {
  font-size: 28px;
  font-weight: 900;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #fff;
}

/* Parte del título resaltado */
.gameList-title span {
  color: #FF005E; /* Color rosa */
}

.green-bar {
  width: 10em;             /* Ajusta el ancho de la barra */
  height: 8px;              /* Grosor de la barra */
  background-color: #00FF69;  /* Color de la barra */
  border-radius: 18px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  left: 34rem;
}

/* Contenedor de la lista de juegos */
.gameList-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

/* Cada tarjeta de juego */
.gameList-item {
  background: #101010;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 20px;
  width: 350px;
  transition: transform 0.3s ease;
}

.gameList-item:hover {
  transform: translateY(-5px); /* Desplazamiento suave hacia arriba */
}

/* Contenedor de la imagen del juego */
.gameList-image-container {
  position: relative;
}

/* Imagen del juego */
.gameList-image {
  width: 350px;
  height: auto;
  object-fit: cover;
}

/* Estilo de las estrellas */
.gameList-stars {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
}

/* Estilo para cada estrella */
.star {
  font-size: 22px;
  margin: 0 2px;
}

.star.full {
  color: #00FF69; /* Estrellas llenas */
}

.star.half {
  color: #00FF69; /* Media estrella */
}

.star.empty {
  color: #00FF69; /* Color gris para estrellas vacías */
}

/* Íconos de plataformas */
.platform-icon {
  color: #fff; /* Color de los íconos */
  font-size: 24px; /* Tamaño de los íconos */
  margin: 0 5px;
  transition: color 0.3s ease;
}

/* Cambiar el color de los íconos al pasar el ratón */
.platform-icon:hover {
  color: #00FF69;
}

/* Información del juego */
.gameList-info {
  padding: 16px;
  color: #fff;
  text-align: left;
}

/* Iconos de plataformas */
.gameList-platforms {
  margin-bottom: 10px;
}

.platform-icon {
  display: inline-block;
  margin: 0 8px;
  color: #fff;
  font-size: 22px;
}

/* Estilo para el nombre del juego */
.gameList-name {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.dot {
  color: white;        /* Cambia el color del punto si es necesario */
  margin-right: 10px;  /* Espacio entre el punto y el texto */
  font-size: 18px;     /* Tamaño del punto */
}

/* Género y fecha de lanzamiento */
.gameList-genre, .gameList-release {
  font-size: 14px;
  margin-bottom: 5px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* X, Y, Desenfoque, Color */
}

.gameList-genre span{
  font-weight: bold;
}

.gameList-release span{
  font-weight: bold;
}

.white-bar {
  width: 90%;              /* Ancho completo */
  height: 2px;             /* Grosor de la barra */
  background-color: #ffffff; /* Color de la barra */
  margin: 10px 10px;          /* Espacio alrededor de la barra */
}

/* Botón de 'Ver Más' */
.gameList-button {
  display: flex;
  background-color: #FF005E;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  font-style: italic;
  font-weight: 900;
  margin-left: 105px;
  margin-top: 20px;
  justify-content: center;
  transition: background-color 0.3s ease;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* X, Y, Desenfoque, Color */
}

.gameList-button:hover {
  background-color: #D4004E; /* Cambia color al pasar el ratón */
}

/* Contenedor de la paginación */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

/* Botones de paginación */
.pagination-button {
  background-color: #FF005E;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #D4004E; /* Cambiar color al pasar el ratón */
}

.pagination-button:disabled {
  background-color: #777; /* Color gris cuando está deshabilitado */
  cursor: not-allowed;
}

/* Información de la paginación */
.pagination-info {
  font-size: 16px;
  color: #fff;
}


/* DiscordBanner */

.discord-banner {
  max-width: 100%;
  max-height: 280px;
  background: url('../images/comunidad.jpg'); /* Ajusta la URL de la imagen de fondo */
  padding: 10%;
  font-family:'Roboto', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-size: cover;
}

.discord-banner h2 span {
  
  color: #FF005E;
}

.discord-banner h2 {
  font-size: 38px;
  margin-bottom: 20px; /* Reduce el espacio entre el título y el párrafo */
}

.discord-banner p {
  max-width: 60%;
  margin: 0 auto 20px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.6; /* Ajusta la altura de línea según tu preferencia */
  text-align: center; /* Centra el texto */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.discord-banner img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px; /* Espaciado entre la imagen y el enlace */
}

.discord-banner a {
  display: inline-block;
  background-color: #5F6BF2;
  color: white;
  font-weight: 900;
  font-size: 22px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.discord-banner a:hover {
  background-color: #333; 
}

/* CategoriesList */

/* Contenedor principal de la lista de categorías */
.categories-list {
  padding: 20px;
  background-color: #1c1c1c; /* Fondo oscuro similar a la imagen */
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
}

/* Contenedor del encabezado de categorías */
.categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo del título de la sección */
.categories-title {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}

/* Botón "Ver todo" */
.see-all-button {
  background-color: #1E1E1E;
  border-radius: 12px;
  border-color: #A19F9F;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  transition: transform 0.4s ease-in-out;
}

.see-all-button:hover {
  transform: scale(1.05); /* Efecto de aumento en hover */
}

/* Contenedor de las tarjetas de categorías */
.category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px; /* Espacio entre tarjetas */
}

/* Estilo de cada tarjeta de categoría */
.category-item {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  transition: transform 0.3s ease-in-out;
}

.category-item:hover {
  transform: scale(1.05); /* Efecto de aumento en hover */
}

/* Wrapper para la imagen de cada tarjeta */
.category-image-wrapper {
  border-radius: 16px;
  overflow: hidden;
  height: 230px; /* Altura fija para las imágenes */
  width: auto; /* Altura fija para las imágenes */
}

.category-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Asegura que la imagen se ajuste sin distorsión */
}

/* Superposición de texto en la imagen */
.category-name-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo negro translúcido */
  color: #fff;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

/* Footer */

.footer-container {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  font-family: 'Roboto', sans-serif;
  padding: 20px 10%;
}

.footer-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
}

.footer-logo-section {
  max-width: 30%; /* Ajustar según sea necesario */
}

.footer-logo-container {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 50px; /* Ajustar según sea necesario */
  margin-right: 10px;
}

.footer-name-logo {
  height: 30px; /* Ajustar según sea necesario */
}

.footer-description {
  margin-top: 10px;
}

.footer-links-section {
  max-width: 30%; /* Ajustar según sea necesario */
}

.footer-links-section h2 {
  margin-bottom: 10px;
}

.footer-social-section h2 {
  margin-bottom: 20px;
}

.footer-links-list {
  list-style-type: none;
  padding: 0;
  line-height: 1.5;
}

.footer-links-list li {
  margin-bottom: 5px;
}

.footer-links-list li a {
  color: #fff; /* Texto blanco */
  text-decoration: none;
}

.footer-social-section {
  max-width: 25%; /* Ajustar según sea necesario */
  text-align: left; /* Alinear a la derecha */
}

.footer-social-icons {
  display: flex;
  justify-content: space-around; /* Espacio entre los iconos */
  font-size: 20px; /* Ajustar tamaño de iconos */
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Estilo general para los íconos sociales */
.footer-social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Tamaño del contenedor */
  height: 40px; /* Tamaño del contenedor */
  margin: 0 8px 16px;
  border-radius: 50%; /* Fondo circular */
  color: #fff; /* Color inicial del icono */
}

/* Icono de Discord */
.footer-icon-discord {
  background-color: #7289da; /* Fondo color Discord */
  color: #fff; /* Color del icono */
}

/* Icono de Twitter */
.footer-icon-twitter {
  background-color: #1da1f2; /* Fondo color Twitter */
  color: #fff; /* Color del icono */
}

/* Icono de Instagram */
.footer-icon-instagram {
  background-color: #e1306c; /* Fondo color Instagram */
  color: #fff; /* Color del icono */
}

/* Icono de Facebook */
.footer-icon-facebook {
  background-color: #1877f2; /* Fondo color Facebook */
  color: #fff; /* Color del icono */
}

/* Icono de YouTube */
.footer-icon-youtube {
  background-color: #ff0000; /* Fondo color YouTube */
  color: #fff; /* Color del icono */
}

/* Icono de Twitch */
.footer-icon-twitch {
  background-color: #9146ff; /* Fondo color Twitch */
  color: #fff; /* Color del icono */
}

/* Estilos adicionales para la apariencia del separador */
.footer-divider {
  margin: 20px 0; /* Separador */
  border-top: 2px solid #fff; /* Color del separador */
  opacity: 0.80;
}

.footer-copyright-section {
  text-align: center; /* Centrar el texto */
  margin-top: 10px;
}

